/* ================= ENTIRE STYLES ================= */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", "Segoe UI", sans-serif;
  background: #f8fbfd;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
}

.page {
  width: 100%;
  overflow-x: hidden;
}

/* ================= TYPOGRAPHY ================= */

h1, h2, h3 {
  font-family: "Playfair Display", Georgia, serif;
  letter-spacing: 0.3px;
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.6;
  opacity: 0.95;
}

/* ================= NAVBAR ================= */

.navbar {
  height: 72px;
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #083344;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 45px;         
  width: auto;
  display: block;
  font-size: 30px;
  font-weight: 600;
}

.nav-center button {
  align-items: center;
  margin: 0 14px;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  cursor: pointer;
  opacity: 0.75;
}

.nav-center button:hover {
  color: rgb(255, 255, 255);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

/* ================= HERO ================= */

.hero {
  text-align: center;
  padding: 80px 20px 100px;
  background: linear-gradient(
    180deg,
    #083344 0%,
    #467f8d 38%,
    #dff6fb 100%
  );
  color: white;
}

.hero-top-text {
  font-size: 25px;
  letter-spacing: 0.8px;
  opacity: 0.85;
}

.hero h1 {
  font-size: 46px;
  line-height: 1.15;
  max-width: 900px;
  margin: 18px auto;
}

.hero-subtext {
  margin-top: 10px;
  font-size: 17px;
}

.check {
  color: #22c55e;
  margin-right: 6px;
}

/* HERO IMAGE STRIP */

.hero-images {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.hero-images img {
  width: auto;
  height: 250px;
  border-radius: 8px;
  transform: perspective(900px) rotateX(2deg);
}

/* ================= BUTTONS ================= */

.primary-btn {
  background: #0b5c74;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 22px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
}

.primary-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
}

.outline-btn {
  background: white;
  border: white;
  color: #092731;
  padding: 10px 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.outline-btn:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
}

.text-btn {
  text-decoration: underline;
  background: none;
  border: none;
  color: #050505;
  cursor: pointer;
  font-size: 17px;
  margin-right: 20px;
}
.text-btn:hover {
  text-decoration: none;
}

.large-btn {
  margin-top: 30px;
  padding: 12px 26px;
  font-size: 15px;
}
.button-row{
  margin: 20px;
}

/* ================= SECTIONS ================= */

.section1 {
  padding: 90px 20px;
  text-align: center;
  background: linear-gradient(
    180deg,
    #e0f6fd 0%,
    #f6fdff 38%,
    #ffffff 100%
  );
}
section {
  padding: 90px 20px;
  text-align: center;
}

.section-label {
  font-size: 25px;
  display: inline-flex; 
  letter-spacing: 1px;
  color: #080808;
  margin-bottom: 10px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}
.section-label::before,
.section-label::after {
  content: "";
  flex: 1;
  height: 2px;
  background: #d9dee5;
}

.section h2 {
  font-size: 50px;
  margin-bottom: 30px;
  color: #0b5c74;
}

/* ================= CARDS ================= */

.card-row {
  display: flex;
  justify-content: center;
  gap: 26px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.info-card {
  background: white;
  border-radius: 14px;
  padding: 26px;
  width: 370px;
  text-align: left;
  border: 1px solid #e6eef2;
  transition: all 0.25s ease;
}

.info-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.info-card h3 {
  font-size: 23px;
  margin-bottom: 10px;
  color: #0b5c74;
  text-align: center;
}

.info-card h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #3a3a3a;
  text-align: left;
}

.info-card p {
  font-size: 30px;
  margin-bottom: 10px;
  color: #0a0a0a;
  text-align: center;
}

.info-card h5 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #1a3882;
  text-align: center;
  font-weight: 400;
  background-color: #e2e8f7;
}

.info-card ul {
  padding-left: 18px;
  margin: 0;
  color: #383838;
}

.info-card li {
  font-size: 18px;
  margin-bottom: 6px;
  opacity: 0.8;
}

.info {
  background: white;
  border-radius: 14px;
  padding: 10px;
  width: 100%;
  text-align: center;
  border: 1px solid #e6eef2;
  font-size: 20px;
  font-weight: 400;
}
.info1 {
  background: white;
  border-radius: 14px;
  padding: 10px;
  width: 640px;
  margin: 0 auto;    
  text-align: center;
  border: 1px solid #e6eef2;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.dist-subtext {
  margin: 30px;
  font-size: 30px;
  gap: 10px;
}

.icon-img{
  height: 70px;
  width: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
/* ================= GRID BACKGROUND ================= */

.light-grid {
  background-image:
    linear-gradient(#eef6f9 1px, transparent 1px),
    linear-gradient(90deg, #eef6f9 1px, transparent 1px);
  background-size: 40px 40px;
}

.partners p{
  text-align: center;
  margin-bottom: 10px;
}

.partners img{
  width: auto;
  height: 40px;
  display: block;
  margin: 0 auto;
}
/* ================= TWO COLUMN ================= */

.two-column {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
} 

/* ================= STEPS ================= */

.steps-row {
  display: flex;
  justify-content: center;
  gap: 1.5px;
  margin-top: 40px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.steps {
  background: white;
  border-radius: 14px;
  padding: 26px;
  width: 300px;
  text-align: left;
  border: 1px solid #e6eef2;
}

.steps h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #000000;
  text-align: left;
}

.steps h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000000;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
  margin-top: 10px;
}

.steps h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #6a6a6a;
  text-align: left;
  font-weight: 400;
}

.step {
  background: white;
  border-radius: 14px;
  padding: 26px;
  width: 300px;
  text-align: left;
  border: 1px solid #e6eef2;
}

.step1 {
  background: white;
  border-radius: 14px;
  padding: 26px;
  width: 220px;
  text-align: center;
  border: 1px solid #e6eef2;
}

.step h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #0b5c74;
  text-align: center;
}

.step h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #6a6a6a;
  text-align: center;
  font-weight: 400;
}
.step1 h1 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #0b5c74;
  text-align: center;
}

.step1 h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #6a6a6a;
  text-align: center;
  font-weight: 400;
}

/* ================= CTA ================= */

.CTA {
  display: flex;
  justify-content: center;
  gap: 0px;
  margin-top: 40px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.content {
  background: rgb(0, 0, 0);
  border-radius: 14px;
  padding: 26px;
  width: 80%;
  text-align: left;
  border: 1px solid #e6eef2;
}

.content h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: left;
}

.content h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
  margin-top: 10px;
}

/* ================= FOOTER ================= */

.footer {
  background: #083344;
  color: white;
  padding: 50px 40px;
  margin-top: 60px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links button {
  margin: 0 14px;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.85);
  font-size: 20px;
  cursor: pointer;
  opacity: 0.75;
}

.footer-button button{
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.85);
  font-size: 30px;
  cursor: pointer;
}

.footer-button {
  margin-top: 50px;
  display: flex;
  gap: 70px;
}

.footer-button button:hover {
  color: rgb(33, 214, 96);
}

.footer-img{
  height: 100px;
  width: auto;
}

.footer-bottom {
  margin-top: 30px;
  font-size: 20px;
  opacity: 0.6;
  text-align: center;
}
.address {
  margin-top: 10px;
  font-size: 15px;
  opacity: 0.6;
  text-align: center;
  margin-bottom: 20px;
}
.disclaimer {
  opacity: 0.6;
}

.steps-section {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 90px;  
                 
}

.step-row {
  display: grid;
  grid-template-columns: 420px 1fr;   
  align-items: center;
  gap: 80px;
  margin: 0 auto;
}

.step-text {
  max-width: 520px;
}

.step-label {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.step-text h2 {
  font-size: 42px;
  font-family: "Playfair Display", serif;  
  margin: 0 0 14px;
}

.step-text p {
  font-size: 20px;
  color: #4b5563;
  line-height: 1.6;
}

@media (max-width: 900px) {
  .step-row {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .step-text {
    margin: 0 auto;
  }
}
.faq-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.faq-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

/* LEFT PANEL */
.faq-card {
  flex: 1;
  background: white;
  border-radius: 18px;
  padding: 30px 35px;
  border: 1px solid #e6eef2;
}

.faq-item {
  border-bottom: 1px solid #edf2f5;
  padding: 18px 0;
  cursor: pointer;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
}

.view-all {
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 500;
  color: #0b5cab;
  cursor: pointer;
}

/* RIGHT PANEL */
.contact-card {
  width: 420px;
  background: white;
  border-radius: 18px;
  border: 1px solid #e6eef2;
  padding: 25px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.badge {
  background: #e9f9ef;
  color: #22a06b;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 8px;
  width: fit-content;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.contact-title {
  font-size: 18px;
  font-weight: 600;
}

.call-button {
  margin-top: 8px;
  background: #0a3f5f;
  color: white;
  border-radius: 10px;
  padding: 10px 16px;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.finsire{
  margin-top: 100px;
  height: 100%;
  width: 100%;
}

.steps-sections {
  width: 100%;
  padding: 60px 80px;
  background: white;
}

.step-rows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-bottom: 80px;
}

.step-image {
  width: 320px;
  max-width: 100%;
  height: auto;
}

.step-texts {
  max-width: 480px;
}

.step-labels {
  font-size: 14px;
  letter-spacing: 1px;
  color: gray;
  margin-bottom: 10px;
  font-weight: 600;
}

.step-labels span{
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(30, 30, 30);
  margin-bottom: 10px;
  font-weight: 600;
}

.step-texts h2 {
  font-size: 36px;
  margin-bottom: 16px;
  font-weight: 600;
  color: #1c1c1c;
  text-align: left;
}

.step-texts p {
  font-size: 20px;
  color: #555;
  line-height: 1.6;
  text-align: left;
}

/* Responsive */
@media (max-width: 900px) {
  .step-rows {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .step-texts h2 {
    font-size: 28px;
  }
}